name: Generate Neon Snake

on:
  schedule:
    - cron: "0 */6 * * *" 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: Platane/snk@v2
        id: snake-gif
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            # This palette creates the Cyberpunk look:
            # Black bg -> Purple -> Pink -> Cyan -> Bright Cyan
            dist/github-contribution-grid-snake.svg?palette=github-dark&color_snake=00ffff&color_dots=#0d1117,#4b0082,#ff00ff,#00e5ff,#00ffff
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
